<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css"/>
    <style>
        input {
            display:block;
            text-align: center;
        }
        p{
color:goldenrod
        }
    </style>
</head>
<body>
    <h1>Hello world</h1>
    <p> welcome back</p>

    <form action="/sign-up" method="POST">
        <label for="f_n">first name:</label>
        <input id="f_n" name="first_name" type="text" required />
        <label for="l_n"> last name:</label>
        <input id="l_n" name="last_name" type="text" required />
        <label for="e_mail"> email address:</label>
        <input id="e_mail" name="email" type="email" required  />
        <input type="submit" value="Sign In"/>
    </form>

     <button class="js-fetch"  >show users</button>
     <div id="div"></div>
    
    <script>
        const apiBtn = document.querySelector('.js-fetch');
        const div = document.querySelector("#div");
        apiBtn.addEventListener('click', async (e)=>{
            e.preventDefault();
            const UsersApi =await fetch('http://localhost:5000/users') ;
            const users = await UsersApi.json()
            console.log(users)
                for (u in users){
                     console.log( users[u])
                     let arrObj = users[u];
                     arrObj.forEach(element => {
                      div.innerHTML +=  ` <p> first Nmae: ${element.firstName.toUpperCase()} , Last Name: ${element.lastName.toUpperCase()} Last Name: ${element.email.toUpperCase()}</p>`
                     });
                }})
       /*  apiBtn.addEventListener('click', (e)=>{
            e.preventDefault();
            fetch('http://localhost:5000/users').then(response=>response.json()).then(data=>{
                console.log(data);
                for (user in data){
                     console.log( data[user])
                     let arrObj = data[user];
                     arrObj.forEach(element => {
                      div.innerHTML +=  ` <p> first Nmae: ${element.firstName.toUpperCase()} , Last Name: ${element.lastName.toUpperCase()} Last Name: ${element.email.toUpperCase()}</p>`
                     });
                } */
                
                /* for(let i =0; i < data.length; i++){
                    console.log('logged')
                } */
               //JSON.stringify(data)//.users.forEach(u =>{ `<p> ${ u.firstName} </p>`});
           // })
        
    </script>
</body>
</html>